<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h4 class="text-center mb-4">Detailed info about Product <span style="background-color: burlywood; font-weight: bold;color:crimson">{{product.name}}</span></h4>
            <table class="table table-bordered table-hover table-sm">
                
                <tbody>
                    
                    <tr>
                        <td>Product Id</td>
                        <td>{{product.sku}}</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>{{product.name}}</td>
                    </tr>
                    <tr>
                        <td>Product Image</td>
                        <td><img src={{product.imageUrl}} style="height:60px;width:100px;" />
                    </tr>
                    <tr>
                        <td>Product Description</td>
                        <td>{{product.description}}</td>
                    </tr>
                    <tr>
                        <td>Product Manufacturer</td>
                        <td>{{product.brandName}}</td>
                    </tr>
                    <tr>
                        <td>Product Location</td>
                        <td>{{product.itemStoredLocation}}</td>
                    </tr>
                    <tr>
                        <td>Unit Price</td>
                        <td>{{product.unitPrice | currency:'Rs'}}</td>
                    </tr>

                    <tr>
                        <td>Product Status</td>
                        <td>{{product.isActive == true?'Active':'Inactive'}}</td>
                    </tr>

                    <tr>
                        <td>Total Available Count</td>
                        <td>{{product.unitsInStock}}</td>
                    </tr>
                    <tr>
                     <td>Product Created Date</td>   
                    <td>{{product.createdDate | date:'EEEE, MMMM d, y'}}</td> 
                    </tr>
                    <tr>
                        <td>Last Updated Date</td>   
                       <td>{{product.lastUpdated | date:'EEEE, MMMM d, y'}}</td> 
                       </tr>
                    <tr>
                        <td></td>
                        <td><a routerLink = "/" class="btn btn-sm btn-success">Go To Product List</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>