<!-- <div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div style="width: 400px;">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Category Name</label>
                        <input type="text" class="form-control" id="categoryName" required [(ngModel)]="category.categoryName" name="categoryName">
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Update Product Category</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h4 class="text-center mb-4">Update Category Form</h4>

            <form #productCategoryForm="ngForm" (ngSubmit)="onSubmit()" class="form-area">
                <div class="row">
                    <div class="col-md-3"> <label>Product Category Name</label></div>
                    <div class="col-md-6">
                        <div class="input-space">
                            <input type="text" class="form-control" id="categoryName" required [(ngModel)]="category.categoryName" name="categoryName" #categoryName ="ngModel">

                            <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)"
                                class="alert alert-danger mt-1">
                                Product Category Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info" [disabled]="productCategoryForm.invalid">Update Product
                        Category</button>
                </div>
            </form>
        </div>
    </div>
</div>