<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
                <a routerLink="/categoryList" routerLinkActive="active-link">
                     <span class ="left-menu">Product Category</span>
                </a>
            </li>
            <li>
                <a routerLink="/order-details" routerLinkActive="active-link">
                     <span class ="left-menu">Order List</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
