<div class="main-content">
    <div class="section-content-p30">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-md-2"><a routerLink="/addProduct" routerLinkActive="active-link" class = "btn btn-success btn-sm">Add New Product</a>
                </div>
                <div class="col-md-2"><a routerLink="/categoryList" routerLinkActive="active-link" class="btn btn-sm btn-success">Product Category List</a>
                </div>
                <div class="col-md-3">
                    <app-search-product></app-search-product>
                </div>
            </div>
            <div class="row">
                
                <table class="table table-bordered table-hover table-sm">
                    <thead style="background-color: brown;">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Product Code</th>
                            <th>Brand Name</th>
                            <th>Stored Location</th>
                            <th>Unit Price</th>
                            <th>Active Status</th>
                            <th>No of units in stock</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tempProduct of products">
                            <td><img src={{tempProduct.imageUrl}} style="height:45px;width:35px;" />
                            </td>
                            <td>{{tempProduct.name}}</td>
                            <td>{{tempProduct.sku}}</td>
                            <td>{{tempProduct.brandName}}</td>
                            <td>{{tempProduct.itemStoredLocation}}</td>
                            <td>{{tempProduct.unitPrice | currency:'Rs'}}</td>
                            <td>{{tempProduct.active == true?'Active':'Inactive'}}</td>
                            <td>{{tempProduct.unitsInStock}}</td>
                            <td>{{tempProduct.createdDate | date:'EEEE, MMMM d, y'}}</td>
                            <td>
                                <a routerLink = "/updateProduct/{{tempProduct.id}}"><span style="margin-left: 10px;" class="far fa-edit fa-lg"></span></a>
                                <span style="margin-left: 10px;" class="fas fa-eye fa-lg"></span>
                                <button (click)="deleteProduct(tempProduct.id)"><span style="margin-left: 10px;"
                                    class="far fa-trash-alt fa-lg"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="products.length ==0" class="col-md-12 text-center" alert="role">
                    <img src="assets/images/util/404.gif" style="height: 20+0px; width: 250px; border-radius: 15px;">
                </div>
            </div>
            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                    [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true"
                                    (pageChange)="listProducts()">

                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>40</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>