<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <!--customer details-->
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div formGroupName="customer" class="form-area">
                <h3>Customer</h3>
                <div class="row">
                    <div class="col-md-2"> <label>First Name</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="firstName" type="text">

                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                                    First Name is required
                                </div>

                                <div *ngIf="firstName.errors.minlength">
                                    First Name must be at least 2 characters long
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Last Name</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="lastName" type="text">
                            <div *ngIf = "lastName.invalid && (lastName.touched || lastName.dirty)" class="alert alert-danger mt-1">
                                <div *ngIf ="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                                    Last Name is required
                                </div>
                                <div *ngIf = "lastName.errors.minlength">  
                                    Last Name must be atleast 2-characters long
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"> <label>Email</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="email" type="text">
                            <div *ngIf = "email.invalid &&(email.touched || email.dirty)" class="alert alert-danger mt-1">
                                <div *ngIf = "email.errors.required">
                                    Email is required
                                </div>
                                <div *ngIf = "email.errors.pattern">
                                    Please enter a valid Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf = "shippingAddressStreet.invalid && (shippingAddressStreet.touched || shippingAddressStreet.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhiteSpace">
                                        Street is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf = "shippingAddressCity.invalid && (shippingAddressCity.touched || shippingAddressCity.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhiteSpace">
                                        City is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change) = "getStates('shippingAddress')">
                                    <option *ngFor = "let country of countries" [ngValue] = "country" >
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf = "shippingAddressCountry.invalid && (shippingAddressCountry.touched || shippingAddressCountry.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="shippingAddressCountry.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>state</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName = "state" >
                                    <option *ngFor = "let state of shippingAddressStates" [ngValue] = "state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf = "shippingAddressState.invalid && (shippingAddressState.touched || shippingAddressState.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="shippingAddressState.errors.required">
                                        State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2"> <label>ZipCode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf = "shippingAddressZipCode.invalid && (shippingAddressZipCode.touched || shippingAddressZipCode.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhiteSpace">
                                        ZipCode is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change) = "copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Adress Same as shipping Address
                    </label>
                    
                </div>
                <!--Billing Address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf = "billingAddressStreet.invalid && (billingAddressStreet.touched || billingAddressStreet.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhiteSpace">
                                        Street is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf = "billingAddressCity.invalid && (billingAddressCity.touched || billingAddressCity.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhiteSpace">
                                        City is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change) = "getStates('billingAddress')">
                                    <option *ngFor = "let country of countries" [ngValue] = "country" >
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf = "billingAddressCountry.invalid && (billingAddressCountry.touched || billingAddressCountry.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="billingAddressCountry.errors.required">
                                       Country is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>state</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName = "state">
                                    <option *ngFor = "let state of billingAddressStates" [ngValue] = "state">
                                        {{state.name}}
                                    </option>
                                </select>
                                <div *ngIf = "billingAddressState.invalid && (billingAddressState.touched || billingAddressState.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="billingAddressCity.errors.required">
                                       State is required
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2"> <label>ZipCode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf = "billingAddressZipCode.invalid && (billingAddressZipCode.touched || billingAddressZipCode.dirty)" class="alert alert-danger mt-1">
                                    <div *ngIf ="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhiteSpace">
                                        ZipCode is required
                                    </div>
                                    <div *ngIf = "billingAddressZipCode.errors.minlength"> 
                                        At leat 2-charcters are required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card details-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName = "cardType">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
    
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName = "expirationMonth">
                                    <option *ngFor = "let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> 
                            <label>Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change) = "handleMonthsAndYears()">
                                    <option *ngFor ="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--order details-->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice |currency:'Rs'}}</p>
                </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info">Purchase</button>
            </div>
        </form>
        </div>
    </div>
</div>
